VPN_IMAGE_REPOSITORY=hideme-vpn
PROXY_IMAGE_REPOSITORY=hideme-proxy
IMAGE_TAG=local
HIDEME_VERSION=0.9.10
HIDEME_USERNAME=
HIDEME_PASSWORD=
HIDEME_NODE=any
HIDEME_TOKEN_HOST=any
HIDEME_INTERFACE=vpn
HIDEME_TUNNEL_MODE=ipv4
HIDEME_KILL_SWITCH=true
VPN_FALLBACK_DNS=8.8.8.8
VPN_LOCAL_BYPASS_CIDRS=127.0.0.0/8,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
PROXY_BIND_ADDRESS=0.0.0.0
PROXY_PORT=3128
PROXY_LISTEN=0.0.0.0
PROXY_TIMEOUT=600
PROXY_MAX_CLIENTS=200
PROXY_MAX_REQUEST_SIZE=0
PROXY_ALLOW=
PROXY_REQUIRE_AUTH=true
PROXY_BASIC_AUTH_USER=
PROXY_BASIC_AUTH_PASSWORD=
PROXY_EGRESS_PORT=3129
PROXY_EGRESS_LISTEN=0.0.0.0
PROXY_EGRESS_ALLOW=10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
PROXY_EGRESS_BASIC_AUTH_USER=
PROXY_EGRESS_BASIC_AUTH_PASSWORD=
SPLIT_TUNNEL_BYPASS=
EXTRA_CONNECT_ARGS=
